<form action="/post-article" method="POST" class="a-f">
  <input
    type="text"
    placeholder="title..."
    name="title"
    value="The Roman Empire"
    class="a-f__input"
  />
  <textarea
    name="content"
    rows="6"
    placeholder="content..."
    class="a-f__input"
  >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, eius laborum asperiores sapiente autem magni eaque repudiandae iusto expedita cupiditate vitae blanditiis qui laudantium deleniti praesentium, fuga aperiam dicta quia earum aliquam? Debitis nihil est, fugiat culpa ipsa id voluptates at saepe ipsam in ratione exercitationem aliquam error, inventore, architecto quia nostrum laudantium necessitatibus cum sint iusto? Sequi provident, quo dolor adipisci iste ut unde corporis. Quas, deleniti dignissimos? Animi, quae sit. Dignissimos architecto cupiditate suscipit, maiores porro, autem animi esse placeat consectetur nostrum explicabo sint voluptates culpa perferendis illo aspernatur quisquam natus! Atque assumenda vero optio provident nulla. Beatae!</textarea>
  <input
    type="text"
    placeholder="tags..."
    name="tags"
    value="history, romans, empires"
    class="a-f__input"/>
  <button type="submit" class="a-f__button">Submit</button>
</form>