<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" type="image/jpg" href="https://img.icons8.com/color/48/000000/mongodb.png"/>
    <link rel="stylesheet" href="/css/main.css">
    <script
      src="https://kit.fontawesome.com/f02b47a7d9.js"
      crossorigin="anonymous"
    ></script>
</head>
<body>
    {{{body}}}
    <script src="/js/popup.js"></script>
    <script src="/js/components/lists/list-1.js"></script>
    <script src="/js/components/lists/search-test.js"></script>
    <script src="/js/components/forms/form-2.js"></script>
    <script src="/js/project-specific/html-entities.js"></script>  
</body>
</html>